body {
  background-color: #ff0;
  font-family: Courier;
  font-size: 14px;
  color: #f00;
}

div.full {
  background-color: #fff;
  color: #1f1f1f;
  margin-left: 5rem;
  margin-right: 5rem
}

p {
  padding-left: 1rem;
  padding-top: 1rem;
}

ul {
  background-color: #fff;
  color: #1f1f1f;
}
