

body {
  background-color: #ff0;
  font-family: Courier;
  font-size: 10px;
  color: #f00;
}

div.full {
  background-color: #fff;
  color: #1f1f1f;
  margin: 8rem;
}

ul {
  background-color: #fff;
  color: #1f1f1f;
}
