body {
  background-color: #ff0;
  font-family: "Merriweather";
  font-size: 16px;
  color: #f00;
}

div.full {
  background-color: #fff;
  color: #1f1f1f;
  margin-left: 1rem;
  margin-right: 1rem
}

div.blog-post-content {
  background-color: #fff;
  color: #1f1f1f;
  margin: auto;
  padding: 2rem;
  max-width: 960px;
}

p {
  padding-left: 2%;
  padding-top: 2%;
}

h1 {
  font-family: "Montserrat";
  font-size: 24px;
  margin-bottom: 0;
}

h2 {
  font-family: "Montserrat";
  font-weight: oblique;
  font-size: 20px;
  color: #ff8080;
  margin-left: 5%;
}
h3 {
  font-size: 20px;
  color: "#636363";
  margin: auto;
}

ul {
  background-color: #fff;
  color: #1f1f1f;
}

a:visited {
  color: #00f;
}

a:hover {
  background: #fff;
  color: #f00;
}

a:active { 
  color: #fff;
  background: #0ff;
}

  
  
